.nova_notificacao{
   background-color: #314E02;
   display: flex;
   justify-content: space-between;
   color: #fff;
   font-size: 10pt;
   width: 100vw;
   height: 3.1rem;
   margin-bottom: .2rem;
}

.nova_notificacao{
   border: .4px solid #fff;
}

.nova_notificacao div:first-child{
   border-right: 1px #fff solid ;
   width: 20%;
}

.nova_notificacao div{
   display: flex;
   margin: auto 2.3rem;
}

.nova_notificacao div p{
   margin: auto .3rem;
   
}

.nova_notificacao span{
   color: #BCC6AB;
   margin: auto 1rem;
}

.nova_notificacao div:last-child span{
   color: red;
   background-color: #A40C0C;
   width: 1.7rem;
   text-align: center;
   padding: .3rem;
   border-radius: 50%;
}