*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: linear-gradient(153.92deg, rgba(85, 137, 0, 0.996078) 12.49%, rgba(27, 43, 0, 0.921569) 95.86%);
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Inter', sans-serif;
}